@font-face {
    font-family: neu;
    src: url(../Sundown/src/font/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(../Sundown/src/font/NeueHaasDisplayLight.ttf);
    
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(../Sundown/src/font/NeueHaasDisplayRoman.ttf); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    /* background-color: #0b0500; */
    position: relative;
    z-index: 10;
}
.page1{
    padding: 2em 2em 2em 2em;
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;

}
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
   width: 9.375em;
}
.logo img{
    width: 100%;
    height: 100%;
    color: #0b0500;
    object-fit: cover;
    position: static;
}
nav{
    grid-column-gap: 0.5em;
    align-items: center;
    display: flex;
    position: static;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap : 1vw;
    text-decoration: none;
    
}
nav ul li{
    padding: 10px 20px;
    border: 1px solid rgba(11,5,0,.2);
    border-radius: 100vw;
    font-size: 18px;
    position: relative;
    color: #333;
    transition: all ease 0.4s;
    font-weight: 100;
    overflow: hidden;
}
nav ul li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
nav ul li:hover::after{
    bottom: 0;
    border-radius: 0;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    position: relative;
    z-index: 9;
    color: #000000bb;
}
nav ul li:hover a{
    color: #fff;
}
header .menu{
    display: none;
}
.main-text{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 3.75em;
}
.left{
    width: 26em;
    letter-spacing: -.03em;
    
}
.left h2{
    font-size: 2em;
    letter-spacing: -.03em;
    line-height: 1;
    color: #0b0500;
}
.right h1{
    z-index: 1;
    letter-spacing: -.03em;
    text-transform: uppercase;
    /* font-family: Neuehaasdisplay mediu,sans-serif; */
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
    /* position: relative; */
}
.page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}
.hero-shape{
    position: absolute;
    width: 36vw;
    height: 36vw;
    
    right: 0;
    top: 75vh;
    filter: blur(20px);
}
.shape-1{
    width: 100%;
    height: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
}
.shape-2{
    width: 100%;
    height: 100%;
    background: linear-gradient(#fe320a, #fe3f0a);
    position: absolute;
    border-radius: 50%;
    animation-name: shapeanimation-2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.shape-3{
    width: 100%;
    height: 100%;
    background: linear-gradient(#fe320a, #fe3f0a);
    border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    animation-name: shapeanimation-1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes shapeanimation-1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes shapeanimation-2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-30%,20%);
    }
}
.page2{
    min-height: 100vh;
    padding: 8vw 0;
    width: 100%;
    position: relative;
    background-color: #efeae3;
}
.moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.words {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

.red-circle-shape {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}
@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.page2-extend{
    height: 80vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    position: relative;
    z-index: 9;
}
.page2-extend h2{
    font-size: 4vw;
    width: 58%;
    line-height: 4vw;
}
.image-tile{
    padding-top: 25vw;
    width: 20%;
}
.image-tile img{
    width: 100%;
    border-radius: 10px;
}
.image-tile p{
    font-family: neu;
    font-weight: 200;
    font-size: 1vw;
    margin-top: 2vw;
}
.page2 .red-circle-shape2{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff3107, #ff671b);
    top: 58%;
    left: 25%;
    filter: blur(25px);
    animation-name: animate-shape-page2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.shape-4{
    height: 100%;
    width: 100%;

}

@keyframes animate-shape-page2 {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }
    to{
        filter: blur(35px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.page-heading{
    position: relative;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    /* background-color: #EFEAE3;  */
    padding-bottom: 1vw;
}
.bullets{
    width: 15px;
    height: 15px;
    background-color: #FE320A;
    border-radius: 50%;
}
.page-heading h4{
    font-weight: 100;
    font-size: 0.875em;
    letter-spacing: 0.2em;
    line-height: 1.2;
}
.element{
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.element h3{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.element .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    background-color: orange;
    transition: all ease 0.25s;
}
.element:hover .overlay{
    top:0;
}
.fixed-image{
    height: 30vw;
    overflow: hidden;
    width: 24vw;
    background-color: red;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    transition: all ease-in-out 0.2s;
    display: none;
    background-size: cover;
    background-position: center;
}
.btn-project{
    position: relative;
    padding: 4vw 2vw;
}
.btn-project button a{
    text-decoration: none;
    color: #000000;
    font-weight: 200;
    font-size: 1vw;
}
.btn-project button{
    padding: 15px 40px;
    color: #000000;
    
    /* letter-spacing: 0.1em; */
    background: none;
    border: 1px solid  #00000056;
    border-radius: 30px;
}
.page4{
    width: 100%;
    height: 70vh;
    background-color: #EFEAE3;
    padding: 8vw 2vw;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}
.page5{
    width: 100%;
    height: 100vh;
}
footer{
    position: fixed;
    z-index: 9;
    height: 105vh;
    width: 100%;
    bottom: 0;
    background-color: #0b0500;
    color: #fff;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}
footer h4{
    font-size: 23vw;
}
footer .important-links{
    height: 20vh;
    width: 100%;
    /* background-color: red; */
}
footer .important-links h5{
    font-size: 2vw;
}
footer .footer-end{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
.menu-bc{
    height: 100vh;
    width: 100%;
    background-color:#00000062;
    position: fixed;
    z-index: 99;
    top: -100;
}
@media (max-width:600px) {
    .page1{
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }
    header{
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }
    header .menu{
        display: block;
    }
    .menu h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }
    .logo img{
        transition: all ease 0.2s;
        height: 9vh;
    }
    nav ul{
        display: none; 
    }
    .main-text{
        height: 60vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 2vw 5vw;
        padding-bottom: 2vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    .left h2{
        padding-top: 2vw;
        width: 80%;
        text-align: left;
        font-size: 5vw;
        line-height: 6vw;
    }
    .right h1{
        padding-top: 6vw;
        font-size: 13vw;
        text-align: right;
        line-height: 11vw;
    }
    .page1 video{
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }
    .page2{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }
    .moving-text{
        overflow-x: auto;
        white-space: nowrap;
    }
    .moving-text::-webkit-scrollbar {
        display: none;
    }

}