*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
}
header{
    padding: 2vw 2vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap : 1vw;
    text-decoration: none;
    
}
nav ul li{
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 50px;
    font-size: 18px;
    position: relative;
    color: #000;
    transition: all ease 0.4s;
    font-weight: 500;
    overflow: hidden;
}
nav ul li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
nav ul li:hover::after{
    bottom: 0;
    border-radius: 0;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    position: relative;
    z-index: 9;
    color: #000000bb;
}
nav ul li a:hover{
    color: #fff;
}