body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111111;
}

.text-color-black {
    color: #111111;
}

.container {
    position: relative;
    height: 100vh;
    margin: 5px;
    background-image: url('../img/bc.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.text-overlay {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #fff;
}

.header .logo {
    margin: 0px 190px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    margin-left: 32%;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
}

.right-menu ul {
    display: flex;
    list-style: none;
    float: right;
    margin-right: 14%;
}

.right-menu ul li img {
    width: 22px;
}

.right-menu ul li {
    margin: 0 20px;
    font-size: 20px;
}

.hero .hero-heading {
    margin: 10% 0% 0% 10%;
}

.hero .sub-hero-heading {
    color: #111111;
    font-size: 30px;
    width: 50vw;
}

.hero .hero-heading h1 {
    font-size: 58px;
    color: #111111;
}

.main-link {
    display: flex;
    margin-top: 40px;
}

.account {
    padding: 15px 30px;
    font-size: 15px;
    background-color: #111111;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.get-a-demo {
    margin-top: 5px;
    margin-left: 25px;
    color: #111111;
    font-weight: bold;
}

.right-arrow {
    border: 1px solid #111111;
    border-radius: 50%;
    border-spacing: 15px;
    width: 25px;
}

.right-arrow span {
    margin-top: 30px;
    rotate: 315deg;
}

@media only screen and (max-width: 1660px) {
    .header .logo {
        margin: 0px 100px;
        position: relative;
    }
    header nav ul {
        margin-left: 32%;
        margin-right: 35%;
        justify-content: space-around;
    }
    .right-menu ul {
        float: end;
        margin-right: 10%;
    }
    .right-menu ul li {
        margin: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .header .logo {
        margin: 0;
        position: relative;
    }
    header nav ul {
        margin-left: 0;
        margin-right: 0;
        justify-content: space-around;
    }
    .right-menu ul {
        float: none;
        margin-right: 0;
    }
    .right-menu ul li {
        margin: 0;
    }
}